<footer class="edu-footer footer-kindergarten footer-style-6">



    <div class="copyright-area bg-image">

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="inner text-center">

                        <p>© 2018 Orison International Sr. Sec. School. All rights reserved | Design by
                            Orison Group of Institutions. </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>