{% extends "includes/base.html" %}
{% block content %}

<head>

</head>

{% include "4/components/header.html" %}

<section class="pro-3-section">
    <a href="/book" class="pro-3-back">
        ← Back
    </a>

    <h4 class="pro-3-subtitle">{{ secondary_uniform.subtitle }}</h4>
    <h1 class="pro-3-title">{{ secondary_uniform.title }}</h1>

    <div class="pro-3-gallery">
        {% for image in secondary_uniform.images %}
        <img src="{{ url_for('static', filename='images/' ~ image) }}" alt="Uniform Look" class="pro-3-image" />
        {% endfor %}
    </div>
</section>

<section class="stay-in-touch">
    <div class="contact-box">
        <p>{{ how_we_work_home.stay_in_touch_text }}</p>
    </div>
</section>

{% include "4/components/footer.html" %}
{% endblock %}