{% extends "includes/base.html" %}
{% block content %}

<head>

</head>
{% include "4/components/header.html" %}

<body class="pro-9-body">
    <section class="pro-3-section">


        <div class="pro-9-content">
            <a href="{{ sports_uniform.back_link }}" class="pro-3-back">
                {{ sports_uniform.back_text }}
            </a>
            <h4 class="pro-9-subtitle">{{ sports_uniform.subtitle }}</h4>
            <h1 class="pro-9-title">
                {{ sports_uniform.title | safe }}
            </h1>

            <div class="pro-9-image-container">
                <img src="{{ sports_uniform.image.src }}" alt="{{ sports_uniform.image.alt }}" class="pro-9-image" />
            </div>
        </div>
    </section>

    <section class="stay-in-touch">
        <div class="contact-box">
            <p>{{ how_we_work_home.stay_in_touch_text }}</p>
        </div>
    </section>
</body>

</html>

{% include "4/components/footer.html" %}
{% endblock %}