{% extends "includes/base.html" %}
{% block content %}
{% include "3/components/header.html" %}

<head>
    <meta charset="UTF-8">
    <title>Metal Cutting Tools</title>

</head>

<body>
    <section class="about-banner">
        <div>
            <h1>Metal Cutting Tools</h1>
            <p class="breadcrumb">
                <a href="/">Home</a> &nbsp;›&nbsp; <span>Metal Cutting Tools</span>
            </p>
        </div>
    </section>
    <section class="inspection-section">
        <div class="container">
            <p class="section-label">Products</p>
            <h1 class="main-heading">Metal Cutting Tools</h1>
            <p class="description">
                Mascot CNC is a distributor of metal cutting tools. Metal cutting is one of the most crucial functions
                in the manufacturing world. It is essential to have the best-quality metal cutting tools to ensure
                maximum efficiency.
            </p>
            <p class="description">
                We are the distributor of high-quality metal cutting tools from ISCAR, a trusted name in metal cutting
                tools manufacturing.
            </p>
            <p class="description">
                We serve prominent manufacturing and industrial companies. The best quality products along with our
                trained sales and service team ensure to deliver the best solutions to our customers keeping in mind
                their specific needs.
            </p>
            <p class="description">
                The product range comprises
                <span class="red-link">Milling tools</span>,
                <span class="red-link">Turning</span>,
                <span class="red-link">Holemaking</span>,
                <span class="red-link">Threading</span>,
                <span class="red-link">V Block</span>,
                <span class="red-link">Tooling Holders</span>, and
                <span class="red-link">Accessories.</span>.
            </p>
        </div>
    </section>
    <section class="material-section">
        <h2 class="material-heading">Metal Cutting Tools</h2>
        <div class="material-container">
            <div class="material-card">
                <img src="/static/images/metal-1.jpg" alt="Forklift" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Milling</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Milling</h4>
                    <a href="micrometer.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="material-card">
                <img src="/static/images/metal-2.jpg" alt="vernier" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Turning</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Turning</h4>
                    <a href="stacker.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="material-card">
                <img src="/static/images/metal-3.jpg" alt="height_gauge" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Holemaking</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Holemaking</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="material-card">
                <img src="/static/images/metal-4.jpg" alt="dial_gauge" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Threading</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Threading</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="material-card">
                <img src="/static/images/metal-5.jpg" alt="double" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Tooling Holder & Accessories</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Tooling Holder & Accessories</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="material-card">
                <img src="/static/images/metal-6.jpg" alt="double" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Machine Vice</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Machine Vice</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="material-card">
                <img src="/static/images/metal-7.jpg" alt="double" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>NT Holder/Chuck</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>NT Holder/Chuck</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="material-card">
                <img src="/static/images/metal-8.jpg" alt="double" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Sloky Torque Tool &<br> Screw Driver</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Sloky Torque Tool &<br> Screw Driver</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="material-card">
                <img src="/static/images/metal-9.jpg" alt="double" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Nine9 products</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Nine9 products</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>
            <div class="material-card">
                <img src="/static/images/metal-10.jpeg" alt="double" />
                <div class="material-info">
                    <span class="plus">+</span>
                    <h4>Micro Boring Kit</h4>
                </div>
                <div class="material-hover">
                    <span class="plus">+</span>
                    <h4>Micro Boring Kit</h4>
                    <a href="pallet.html" class="read-more">Read More</a>
                </div>
            </div>
        </div>
        </div>
    </section>
    {% include "3/components/footer.html" %}
    {% endblock %}