{% extends "includes/base.html" %}

{% block header %}
{% include '5/components/header.html' %}
{% endblock %}

{% block content %}
<div id="edublink-preloader">
    <div class="loading-spinner">
        <div class="preloader-spin-1"></div>
        <div class="preloader-spin-2"></div>
    </div>
    <div class="preloader-close-btn-wraper">
        <span class="btn btn-primary preloader-close-btn">
            Cancel Preloader</span>
    </div>
</div>

<div id="main-wrapper" class="main-wrapper">

    <!--=====================================-->
    <!--=        Header Area Start       	=-->
    <!--=====================================-->

    <!--=====================================-->
    <!--=       Breadcrumb Area Start      =-->
    <!--=====================================-->


    <div class="edu-breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="page-title">
                    <h1 class="title">Contact Us</h1>
                </div>

            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1">
                <span></span>
            </li>
            <li class="shape-2 scene"><img data-depth="2" src="/static/images/shape-13.png" alt="shape"></li>
            <li class="shape-3 scene"><img data-depth="-2" src="/static/images/shape-15.png" alt="shape"></li>
            <li class="shape-4">
                <span></span>
            </li>
            <li class="shape-5 scene"><img data-depth="2" src="/static/images/shape-07.png" alt="shape"></li>
        </ul>
    </div>

    <!--=====================================-->
    <!--=       Contact Me Area Start       =-->
    <!--=====================================-->
    <section class="section-gap-equal contact-me-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="contact-me">
                        <div class="inner">
                            <div class="thumbnail">
                                <div class="thumb">
                                    <img src="/static/images/contact-me.jpg" alt="Contact Me">
                                </div>
                                <ul class="shape-group">
                                    <li class="shape-1 scene">
                                        <img data-depth="1.4" src="/static/images/shape-13.png" alt="Shape">
                                    </li>
                                    <li class="shape-2 scene">
                                        <img data-depth="-1.4" src="/static/images/shape-02.png" alt="Shape">
                                    </li>
                                    <li class="shape-3">
                                        <img src="/static/images/shape-07.png" alt="Shape">
                                    </li>
                                </ul>
                            </div>
                            <div class="contact-us-info">

                                <ul class="address-list">
                                    <li>
                                        <h5 class="title">Address</h5>
                                        <p>Green Park International Sr. Sec. School<br />
                                            Bodhupatty (Po),
                                            Namakkal – Dt
                                            TamilNadu - 637 003</p>
                                    </li>
                                    <li>
                                        <h5 class="title">Email</h5>
                                        <p><a
                                                href="/cdn-cgi/l/email-protection#86e1f4e3e3e8f6e7f4ede5e4f5e3f5e5eee9e9eae8edeac6e1ebe7efeaa8e5e9eb"><span
                                                    class="__cf_email__"
                                                    data-cfemail="a9cedbccccc7d9c8dbc2cacbdaccdacac1c6c6c5c7c2c5e9cec4c8c0c587cac6c4">[email&#160;protected]</span></a>
                                        </p>

                                    </li>
                                    <li>
                                        <h5 class="title">Phone</h5>
                                        <p>8300970742<br />8300970732<br />9489474410<br />9500979461<br />9500979462
                                        </p>
                                    </li>
                                </ul>
                                <ul class="social-share">
                                    <li><a href="#"><i class="icon-share-alt"></i></a></li>
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <img src="/static/images/app.jpg">

    <!-- End Footer Area  -->

</div>

<div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

<!-- JS
	============================================ -->
<!-- Modernizer JS -->
<script data-cfasync="false" src="/static/5/assets/js/email-decode.min.js"></script>
<script src="/static/5/assets/js/modernizr.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<!-- Jquery Js -->
<script src="/static/5/assets/js/jquery.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/bootstrap.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/sal.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/backtotop.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/magnifypopup.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/jquery.countdown.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/odometer.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/isotop.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/imageloaded.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/lightbox.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/paralax.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/paralax-scroll.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/jquery-ui.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/swiper-bundle.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/svg-inject.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/vivus.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/tipped.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/smooth-scroll.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/isInViewport.jquery.min.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>

<!-- Site Scripts -->
<script src="/static/5/assets/js/app.js" type="9e9d53a153fc0cd7bc880006-text/javascript"></script>
<script src="/static/5/assets/js/rocket-loader.min.js" data-cf-settings="9e9d53a153fc0cd7bc880006-|49" defer></script>
{% endblock %}

{% block footer %}
{% include '5/components/footer.html' %}
{% endblock %}