{% extends "includes/base.html" %}

{% block header %}
{% include '5/components/header.html' %}
{% endblock %}

{% block content %}
<div class="main-wrapper" id="main-wrapper">
    <!--=====================================-->
    <!--=        Header Area Start       	=-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=       Hero Banner Area Start      =-->
    <!--=====================================-->
    <div class="hero-banner hero-style-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="banner-content">
                        <h1 class="title" data-sal="slide-up" data-sal-delay="100" data-sal-duration="1000">Orison
                            International<br /> Sr. Sec. School, Coimbatore.</h1>
                        <p data-sal="slide-up" data-sal-delay="200" data-sal-duration="1000">A Brighter Future For
                            Kids.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-gallery">
            <div class="thumbnail thumbnail-1" data-sal="slide-up" data-sal-delay="500" data-sal-duration="1000">
                <img alt="Girl Image" src="/static/images/kid-3.webp" />
            </div>
            <div class="thumbnail thumbnail-2" data-sal="slide-down" data-sal-delay="500" data-sal-duration="1000">
                <img alt="Girl Image" src="/static/images/kid-4.webp" />
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-1 scene" data-sal="fade" data-sal-delay="1000" data-sal-duration="1000">
                <img alt="Shape" data-depth="2" src="/static/images/icon-3_web5.png" />
            </li>
            <li class="shape-2 scene" data-sal="fade" data-sal-delay="1000" data-sal-duration="1000">
                <img alt="Shape" data-depth="-2" src="/static/images/icon-1_web5.png" />
            </li>
            <li class="shape-3 scene" data-sal="fade" data-sal-delay="1000" data-sal-duration="1000">
                <img alt="Shape" data-depth="2" src="/static/images/icon-5_web5.png" />
            </li>
            <li class="shape-4 scene" data-sal="fade" data-sal-delay="1000" data-sal-duration="1000">
                <img alt="Shape" data-depth="-2" src="/static/images/icon-2_web5.png" />
            </li>
            <li class="shape-5 scene" data-sal="fade" data-sal-delay="1000" data-sal-duration="1000">
                <img alt="Shape" data-depth="2" src="/static/images/icon-4.png" />
            </li>
            <li class="shape-6" data-sal="fade" data-sal-delay="1000" data-sal-duration="1000">
                <img alt="Shape" class="rotateit" src="/static/images/shape-25.png" />
            </li>
            <li class="shape-7" data-sal="fade" data-sal-delay="1000" data-sal-duration="1000">
                <img alt="Shape" class="rotateit" src="/static/images/shape-13.png" />
            </li>
        </ul>
    </div>
    <!--=====================================-->
    <!--=       About Us Area Start      	=-->
    <!--=====================================-->
    <div class="edu-about-area about-style-6">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="about-image-gallery">
                        <div class="main-img-1">
                            <img alt="About Image" src="/static/images/about-09.png" />
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1">
                                <img alt="Shape" src="/static/images/shape-11.png" />
                            </li>
                            <li class="shape-2">
                                <img alt="Shape" src="/static/images/shape-12.png" />
                            </li>
                            <li class="shape-3 scene">
                                <img alt="Shape" data-depth="1" src="/static/images/shape-13.png" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title section-left" data-sal="slide-up" data-sal-delay="150"
                            data-sal-duration="800">
                            <h2 class="title">Welcome To Orison</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                            <p>The school has a team of appropriately qualified, highly trained, passionate and
                                strongly committed faculty. Students are constantly encouraged to learn beyond the
                                curriculum. Orison prepares students for life, helping them develop curiosity
                                and a lasting passion for learning.</p>
                        </div>
                        <div class="about-mission" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                            <div class="row g-5 row--20">
                                <div class="col-lg-6">
                                    <h5 class="title">Our Motto</h5>
                                    <p align="justify">“Hard work, Discipline and Wisdom” is our motto. All students
                                        are trained and brought up in such a way that it makes the journey of
                                        education a successful one for them. Our ultimate aim is to build a
                                        community for personal growth, academic excellence and global citizenship.
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="title">Our Mission</h5>
                                    <p align="justify">To help the childern become self confident,committed &amp;
                                        self-reliant.</p>
                                    <p align="justify">To make the students participate in all aspects of learning
                                        process which makes learning meaningful and enjoyable.</p>
                                    <p align="justify">To create empowered global citizens who think
                                        creatively,logically and laterally.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================-->
    <!--=       	Faq Area Start      	=-->
    <!--=====================================-->
    <div class="edu-faq-area faq-style-4">
        <div class="container">
            <div class="row g-5 row--45 align-items-end">
                <div class="col-lg-6">
                    <div class="edu-faq-content">
                        <div class="section-title section-left" data-sal="slide-up" data-sal-delay="150"
                            data-sal-duration="800">
                            <h2 class="title">Affilation Details</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
                        <div class="faq-accordion" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800"
                            id="faq-accordion">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button aria-expanded="true" class="accordion-button style-extra02"
                                            data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">

                                            Affiliation No And School Code

                                        </button>
                                    </h5>
                                    <div class="accordion-collapse collapse show" data-bs-parent="#faq-accordion"
                                        id="collapseOne">
                                        <div class="accordion-body">
                                            <p>Affiliation No :1930348 </p>
                                            <p>School Code :55251</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button aria-expanded="false" class="accordion-button collapsed style-extra05"
                                            data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">

                                            Affiliation status

                                        </button>
                                    </h5>
                                    <div class="accordion-collapse collapse" data-bs-parent="#faq-accordion"
                                        id="collapseTwo">
                                        <div class="accordion-body">
                                            <p>Senior Secondary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button aria-expanded="false" class="accordion-button collapsed style-primary"
                                            data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">

                                            Affiliation Peroid

                                        </button>
                                    </h5>
                                    <div class="accordion-collapse collapse" data-bs-parent="#faq-accordion"
                                        id="collapseThree">
                                        <div class="accordion-body">
                                            <p>Affiliation Peroid:31-03-2030 </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-thumbnail">
                        <img alt="Faq Images" src="/static/images/faq-08.jpg" />
                        <ul class="shape-group">
                            <li class="shape-1 scene">
                                <img alt="Shape Images" data-depth="1" src="/static/images/shape-11.png" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <!-- Start Footer Area  -->
    <!-- End Footer Area  -->
</div>
<div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" height="100%" viewbox="-1 -1 102 102" width="100%">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>
<!-- JS

	============================================ -->
<!-- Modernizer JS -->
<script src="/static/5/assets/js/modernizr.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<!-- Jquery Js -->
<script src="/static/5/assets/js/jquery.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/bootstrap.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/sal.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/backtotop.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/magnifypopup.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/jquery.countdown.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/odometer.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/isotop.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/imageloaded.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/lightbox.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/paralax.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/paralax-scroll.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/jquery-ui.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/swiper-bundle.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/svg-inject.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/vivus.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/tipped.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/smooth-scroll.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script src="/static/5/assets/js/isInViewport.jquery.min.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<!-- Site Scripts -->
<script src="/static/5/assets/js/app.js" type="75327fa22f54f620f4a3c943-text/javascript"></script>
<script data-cf-settings="75327fa22f54f620f4a3c943-|49" defer=""
    src="/static/5/assets/js/rocket-loader.min.js"></script>
<script>(function () { function c() { var b = a.contentDocument || a.contentWindow.document; if (b) { var d = b.createElement('script'); d.innerHTML = "window.__CF$cv$params={r:'95208cd4bec96d17',t:'MTc1MDMxMDE0Mi4wMDAwMDA='};var a=document.createElement('script');a.nonce='';document.getElementsByTagName('head')[0].appendChild(a);"; b.getElementsByTagName('head')[0].appendChild(d) } } if (document.body) { var a = document.createElement('iframe'); a.height = 1; a.width = 1; a.style.position = 'absolute'; a.style.top = 0; a.style.left = 0; a.style.border = 'none'; a.style.visibility = 'hidden'; document.body.appendChild(a); if ('loading' !== document.readyState) c(); else if (window.addEventListener) document.addEventListener('DOMContentLoaded', c); else { var e = document.onreadystatechange || function () { }; document.onreadystatechange = function (b) { e(b); 'loading' !== document.readyState && (document.onreadystatechange = e, c()) } } } })();</script>
{% endblock %}

{% block footer %}
{% include '5/components/footer.html' %}
{% endblock %}