{% extends "includes/base.html" %}

{% block header %}
{% include '5/components/header.html' %}
{% endblock %}

{% block content %}



<div id="edublink-preloader">

    <div class="loading-spinner">

        <div class="preloader-spin-1"></div>

        <div class="preloader-spin-2"></div>

    </div>

    <div class="preloader-close-btn-wraper">

        <span class="btn btn-primary preloader-close-btn">

            Cancel Preloader</span>

    </div>

</div>



<div id="main-wrapper" class="main-wrapper">



    <!--=====================================-->

    <!--=        Header Area Start       	=-->

    <!--=====================================-->



    <!--=====================================-->

    <!--=       Breadcrumb Area Start      =-->

    <!--=====================================-->





    <div class="edu-breadcrumb-area">

        <div class="container">

            <div class="breadcrumb-inner">

                <div class="page-title">

                    <h1 class="title">Activity </h1>

                </div>



            </div>

        </div>

        <ul class="shape-group">

            <li class="shape-1">

                <span></span>

            </li>

            <li class="shape-2 scene"><img data-depth="2" src="/static/images/shape-13.png" alt="shape"></li>

            <li class="shape-3 scene"><img data-depth="-2" src="/static/images/shape-15.png" alt="shape"></li>

            <li class="shape-4">

                <span></span>

            </li>

            <li class="shape-5 scene"><img data-depth="2" src="/static/images/shape-07.png" alt="shape"></li>

        </ul>

    </div>



    <!--=====================================-->

    <!--=       Blog Details Area Start     =-->

    <!--=====================================-->

    <section class="section-gap-equal">

        <div class="container">

            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/iUMVBwGFj50?si=RXSCTERKQ3-HaCyQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>

                    <div class="content">
                        <h3 class="title">GP CULTURAL FEST - GRAVITY 2K24 DAY-1</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>14-08-2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/B3bLJ8WL77Y?si=tl5HGCZAAxCqdpIW"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>

                    <div class="content">
                        <h3 class="title">GP CULTURAL FEST - GRAVITY 2K24 DAY-2</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>15-08-2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/1BCOZikbPME?si=T4agHaHRCvi1wr_y"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>

                    <div class="content">
                        <h3 class="title">GP CULTURAL FEST - GRAVITY 2K24 DAY-3</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>16-08-2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/9ZMu9dnXk0w?si=vCh7MBrfOsDwO7sX"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


                    </div>

                    <div class="content">
                        <h3 class="title">CHIEF GUEST ADDRESS - GRAVITY 2024</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>15.08.24</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/jLE_Q9-P-_0?si=2LjYiCtRMTO52JOK"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



                    </div>

                    <div class="content">
                        <h3 class="title">CHIEF GUEST ADDRESS - GRAVITY 2024</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>16.08.2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/_8hrWo-3KOg?si=lZFceMnX9dGRROL1"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


                    </div>

                    <div class="content">
                        <h3 class="title">GPCC NEET ACHIEVERS AWARD 2024</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>17.08.2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/wV6TsLTxgGM?si=8Mlca4bWOvbXglLZ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>

                    <div class="content">
                        <h3 class="title">GP CULTURAL FEST - GRAVITY 2K24</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>15.08.2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/vHTWVTYNVdg?si=cx4soJJNgAxIIeBb"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


                    </div>

                    <div class="content">
                        <h3 class="title">SUBJECT ENRICHMENT ACTIVITY </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>26.06.2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/7WNlVsi39GY?si=XDEqjo9ZklcOxLcV"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



                    </div>

                    <div class="content">
                        <h3 class="title"> Green Park's International Yoga Day celebration </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>21.06.2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/uIBA59N4Fzo?si=JD3K3xyk_AUSJ25w"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


                    </div>

                    <div class="content">
                        <h3 class="title">SUBJECT ENRICHMENT ACTIVITY </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>19.06.24</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/5r26zXts7rw?si=3UqnpjPIQLSrNhBQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>

                    <div class="content">
                        <h3 class="title">Green Park's KICK OFF day celebration </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>12.06.2024</li>

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/fWlvD1AGuGo?si=xmt9l59JQJKxRGb6"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>

                    <div class="content">
                        <h3 class="title">GP Pongal celebration </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>12.01.24</li>

                        </ul>



                    </div>

                </div>

            </div>


            <div class="edu-blog blog-style-4" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">

                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/z2ncCBlO68U?si=JIOJJ9jL9m0ZVc1e"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>

                    </div>

                    <div class="content">
                        <h3 class="title">Activity Day</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>June 24, 2023</li>

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/oRQC1aPvq9E?si=X32WjNPtcPPK-1_u"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>

                    </div>

                    <div class="content">



                        <h3 class="title">Subject Enrichment Activities </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>June 28, 2023

                        </ul>



                    </div>

                </div>

            </div>



            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">


                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/cCXgBImIGMg?si=NQODaEH4QTNn2kZX"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>





                    </div>

                    <div class="content">



                        <h3 class="title">Vanmahotsav Week Celebration</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>July 01, 2023

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="1048" height="590"
                            src="https://www.youtube.com/embed/HcLQc_FaaBA?si=7F0-qjgEpauJObOs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>

                    </div>

                    <div class="content">



                        <h3 class="title">Tamil Enrichment Activity </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>July 12, 2023

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/dOK3Q8YDr0g?si=AWrIRHd36ehBu147"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">கல்வி வளர்ச்சி நாள் </h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>July 15, 2023

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/ESCZgbRkrSw?si=pyRZjQ_hgH2Y25xT"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">Green Park Parents Day Celebration</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>July 24, 2023

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/u4t1YUWsZCw?si=g2VmjoSVqOirxK5d"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">CHIEF GUEST ADDRESS - MR GOPINATH CHANDRAN</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 14, 2023

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/gBR0ujYqYCM?si=GjMI3da0-ziXiYhM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">CHIEF GUEST ADDRESS - DR I S PARVEEN SULTHANA</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 15, 2023

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/LZgrgo146eM?si=9MGZkBy-HWBJcdBm"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">Onam celebration</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 29, 2023

                        </ul>



                    </div>

                </div>

            </div>



            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/92PBPX0dRC4?si=XgslkBNUorn1ZLHC"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">Green Park National Green Corps</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 29, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/K4BLnfgP68E?si=KoiR9n6homZ9-cnk"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">Green Park Subject Enrichment Activity</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 23, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/obWqYHAcF3w?si=0TLdiwUY3zXFL-Yi"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">GREEN PARK CULTURAL FEST - 2023 DAY - 1</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 13, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/z7jd4SMgLyw?si=abwDPbDAeFiIjSHm"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">GREEN PARK CULTURAL FEST - 2023 DAY - 2</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 14, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/eqfOTo-kP9Y?si=CkvuZqutrLqR1bxu"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">GREEN PARK CULTURAL FEST - 2023 DAY - 3</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>August 15, 2023

                        </ul>



                    </div>

                </div>

            </div>


            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/6PW7KKwYbe0?si=dqgu_MTMyB-zjnKa"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">GP COOK WITHOUT FIRE</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>October 28, 2023

                        </ul>



                    </div>

                </div>

            </div>

            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/AkTpXM6Z3Ws?si=pjsZ9gmXwOPbl203"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">Diwali - The festival of lights</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>November 12, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/wANx1ibi3IA?si=V4Mo490KVGGU6lfo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">GP - Children's Day (Fun Games)</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>November 20, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/Mka1-Jwovbc?si=vJ2akcZzyCLmY3yy"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">GP- Puppet show (Assembly Activity)</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>November 25, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/MtND8XfMUig?si=EPB1d228mmTo7-ux"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>

                    <div class="content">



                        <h3 class="title">GP TALENT SHOW</h3>

                        <ul class="blog-meta">

                            <li><i class="icon-27"></i>Dec 16, 2023

                        </ul>



                    </div>

                </div>

            </div>
            <div class="edu-blog blog-style-4 post-video" data-sal-delay="150" data-sal="slide-up"
                data-sal-duration="800">

                <div class="inner">

                    <div id="iframeContainer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/0dpCHe7BHmM?si=e7fvh7QUEkf3Mckm"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>

                        <div class="content">



                            <h3 class="title">Christmas and New Year Celebration 2023</h3>

                            <ul class="blog-meta">

                                <li><i class="icon-27"></i>Dec 25, 2023

                            </ul>



                        </div>

                    </div>

                </div>






            </div>





        </div>

</div>



</section>





<!--=====================================-->

<!--=        Footer Area Start       	=-->

<!--=====================================-->

<!-- Start Footer Area  -->



<!-- End Footer Area  -->







</div>



<div class="rn-progress-parent">

    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">

        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />

    </svg>

</div>



<!-- JS

	============================================ -->

<!-- Modernizer JS -->

<script src="/static/5/assets/js/modernizr.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<!-- Jquery Js -->

<script src="/static/5/assets/js/jquery.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/bootstrap.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/sal.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/backtotop.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/magnifypopup.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/jquery.countdown.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/odometer.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/isotop.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/imageloaded.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/lightbox.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/paralax.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/paralax-scroll.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/jquery-ui.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/swiper-bundle.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/svg-inject.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/vivus.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/tipped.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/smooth-scroll.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>

<script src="/static/5/assets/js/isInViewport.jquery.min.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>



<!-- Site Scripts -->

<script src="/static/5/assets/js/app.js" type="63a020ade068a6f4ff8a472c-text/javascript"></script>
<script type="63a020ade068a6f4ff8a472c-text/javascript">
  function resizeIframe() {
    var iframe = document.getElementById("myIframe");
    iframe.style.height = iframe.contentWindow.document.body.scrollHeight + "px";
  }

  window.addEventListener("DOMContentLoaded", resizeIframe);
  window.addEventListener("resize", resizeIframe);
</script>

<script src="/static/5/assets/js/rocket-loader.min.js" data-cf-settings="63a020ade068a6f4ff8a472c-|49" defer></script>
<script>(function () { function c() { var b = a.contentDocument || a.contentWindow.document; if (b) { var d = b.createElement('script'); d.innerHTML = "window.__CF$cv$params={r:'9521c0d8db5efba8',t:'MTc1MDMyMjc1OS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';document.getElementsByTagName('head')[0].appendChild(a);"; b.getElementsByTagName('head')[0].appendChild(d) } } if (document.body) { var a = document.createElement('iframe'); a.height = 1; a.width = 1; a.style.position = 'absolute'; a.style.top = 0; a.style.left = 0; a.style.border = 'none'; a.style.visibility = 'hidden'; document.body.appendChild(a); if ('loading' !== document.readyState) c(); else if (window.addEventListener) document.addEventListener('DOMContentLoaded', c); else { var e = document.onreadystatechange || function () { }; document.onreadystatechange = function (b) { e(b); 'loading' !== document.readyState && (document.onreadystatechange = e, c()) } } } })();</script>
{% endblock %}

{% block footer %}
{% include '5/components/footer.html' %}
{% endblock %}